
body {
  margin: 2;
  padding: 2rem;
  font-family: cursive;
  color: #f8fafc;
  background: #241e72;
}
.done {
  background-color: hwb(122 27% 28%);
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
}
.not-done {
  background-color: #3498db;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
}
.not-done:hover {
  background-color: rgb(12, 99, 22);
}
.delete {
  background-color: hwb(0 4% 6%);
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
}
.delete:hover {
  background-color: #8b0202;
}
li {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}